dataset/augmented_dataset/
dataset/cropped_labels/
dataset/images/
dataset/synthetic_dataset/
dataset/ilya_cropped/
# dataset/ocr_training/
dataset/ocr_training/dated_synth_crops/
# dataset/ocr_training/new_synth_crops/
# dataset/ocr_training/fonts/
# dataset/ocr_training/font_pools/
/json_shennanigans/
debug_crops/
*.pt
*.onnx
*.jpg
weights/
*.zip

vivino_parser.py
import_wine_export.py


yolov8s-world.pt
ViT-B-32.pt

__pycache__/
.venv/
venv/